@model HerramientaAD.Models.DiagramaERModel

@{
    ViewBag.Title = "DiagramaUML";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Concept Map</title>
    <meta name="description" content="A concept map diagram implemented with labeled links and ForceDirectedLayout." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/go.js"></script>

        <script id="code">
        function initER(_datosCuadros, _datosRelaciones) {
            var datosCuadros = _datosCuadros;
            var datosRelaciones = _datosRelaciones;

          var $ = go.GraphObject.make;  // for conciseness in defining templates
          myDiagram =
            $(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
              {
                initialAutoScale: go.Diagram.Uniform,  // an initial automatic zoom-to-fit
                contentAlignment: go.Spot.Center,  // align document to the center of the viewport
                layout:
                  $(go.ForceDirectedLayout,  // automatically spread nodes apart
                    { maxIterations: 200, defaultSpringLength: 30, defaultElectricalCharge: 100 })
              });
          // define each Node's appearance
          myDiagram.nodeTemplate =
            $(go.Node, "Auto",  // the whole node panel
              { locationSpot: go.Spot.Center },
              // define the node's outer shape, which will surround the TextBlock
              $(go.Shape, "Rectangle",
                { fill: $(go.Brush, "Linear", { 0: "rgb(254, 201, 0)", 1: "rgb(254, 162, 0)" }), stroke: "black" }),
              $(go.TextBlock,
                { font: "bold 10pt helvetica, bold arial, sans-serif", margin: 4 },
                new go.Binding("text", "text"))
            );
          // replace the default Link template in the linkTemplateMap
          myDiagram.linkTemplate =
            $(go.Link,  // the whole link panel
              $(go.Shape,  // the link shape
                { stroke: "black" }),
              $(go.Shape,  // the arrowhead
                { toArrow: "standard", stroke: null }),
              $(go.Panel, "Auto",
                $(go.Shape,  // the label background, which becomes transparent around the edges
                  {
                    fill: $(go.Brush, "Radial", { 0: "rgb(240, 240, 240)", 0.3: "rgb(240, 240, 240)", 1: "rgba(240, 240, 240, 0)" }),
                    stroke: null
                  }),
                $(go.TextBlock,  // the label text
                  {
                    textAlign: "center",
                    font: "10pt helvetica, arial, sans-serif",
                    stroke: "#555555",
                    margin: 4
                  },
                  new go.Binding("text", "text"))
              )
            );

        
          var nodeDataArray = datosCuadros;
          var linkDataArray = datosRelaciones;
            
          myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
        }
        </script>
</head>
<body onload="initER([],[])">

    <div class="jumbotron">
        <h1 class="display-3">Diagrama de Entidad - Relación</h1>
        <p class="lead">Resultados del Análisis de Entidad - Relación</p>
        <hr class="my-4">
    </div>

    <form>
        <fieldset>
            <legend>Filtros</legend>
            <hr style="color: #8a9bb1; background-color: #8a9bb1; width:100%;" />
            <table align="center">
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AreaID, "Area:")
                            @Html.DropDownListFor(m => m.AreasLista, new SelectList(Model.AreasLista, "Indice", "Texto"), "Selecciona", new { @class = "form-control" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AplicacionID, "Aplicación:")
                            @Html.DropDownListFor(m => m.AplicacionesLista, new SelectList(Model.AplicacionesLista, "Indice", "Texto"), "Selecciona", new { @class = "form-control" })
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BaseID, "Base de Datos:")
                            @Html.DropDownListFor(m => m.BasesLista, new SelectList(Model.BasesLista, "Indice", "Texto"), "Selecciona", new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td width="370px" align="center">
                        <button type="button" class="btn btn-primary" style="width:300px" id="btnBuscar">Buscar</button>
                    </td>
                    <td width="370px" align="center">
                        <button type="button" class="btn btn-primary" style="width:300px" id="btnLimpiar">Limpiar</button>
                    </td>
                    <td width="370px" align="center"></td>
                </tr>
            </table>
        </fieldset>
    </form>
    <br />
    <fieldset>
        <legend>Resultados</legend>
        <hr style="color: #8a9bb1; background-color: #8a9bb1; width:100%;" />
        <div id="divdet" style="width:100%;">
            @{
                Html.RenderPartial("Diagrama");
            }
        </div>
    </fieldset>

</body>
</html>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    var datosCuadrossFinal = [];
    var datosRelacionesFinal = [];

    function limpiarfiltros() {
        $("#AreasLista").empty;
        $("#AreasLista")[0].selectedIndex = 0;
        $("#AplicacionesLista").empty;
        $("#AplicacionesLista")[0].selectedIndex = 0;
        $("#BasesLista").empty;
        $("#BasesLista")[0].selectedIndex = 0;
    }

    function CargaCuadros(idbd) {
        var datosCuadross = [];
        $.ajax({
            async:false,
            type: "GET",
            url: "/DiagramaER/ArregloCuadroC",
            data: { BaseDeDatosID: idbd },
            success: function (data) {
                var cadena = data,
                    patron = /DatosBD/g,
                    nuevoValor = "",
                    data = cadena.replace(patron, nuevoValor);
                cadena = data
                separador = "row",
                    data = cadena.split(separador);

                for (var i = 1; i < data.length; i++) {
                    var roww = data[i]
                    var a = roww
                    var b = " "
                    roww = roww.replace(/['"]+/g, '')
                    roww = roww.split(b)
                    var Numerito = roww[1].replace(/Numero=/g, '')
                    var tablita = roww[2].replace(/Tabla=/g, '')
                    datosCuadross.push({ key: parseInt(Numerito), text: tablita });
                }
            },
            error: function (errorData) { console.log("Request Failed: " + errorData); }
        });


        return datosCuadross;
    }

    function CargaRelaciones(idbd) {
        var datosRelacioness = [];
        $.ajax({
            async:false,
            type: "GET",
            url: "/DiagramaER/ArregloRelacionesoC",
            data: { BaseDeDatosID: idbd },
            success: function (data) {
                var cadena = data,
                    patron = /DatosBD/g,
                    nuevoValor = "",
                    data = cadena.replace(patron, nuevoValor);
                cadena = data
                separador = "row",
                    data = cadena.split(separador);

                for (var i = 1; i < data.length; i++) {
                    var roww = data[i]
                    var a = roww
                    var b = " "
                    roww = roww.replace(/['"]+/g, '')
                    roww = roww.split(b)
                    var formm = roww[1].replace(/From=/g, '')
                    var too = roww[2].replace(/To=/g, '')
                    var Texte = roww[3].replace(/Text=/g, '')
                    datosRelacioness.push({ from: parseInt(formm), to:parseInt(too), text: Texte });
                }
            },
            error: function (errorData) { console.log("Request Failed: " + errorData); }
        });


        return datosRelacioness;
    }

    function ActualizaDiagrama(idbd) {
        datosCuadrossFinal = CargaCuadros(idbd)
        datosRelacionesFinal = CargaRelaciones(idbd)
        $("#myDiagramDiv").empty;
        $("#myDiagramDiv").html(onload = initER(datosCuadrossFinal, datosRelacionesFinal));
    }

    $(document).ready(function() {

        $("#AreasLista").change(function() {
            var a = $("#AreasLista Option:Selected").val();
            var url = '@Url.Content("~/")' + "DiagramaER/ActualizarAplicaciones";
            var ddlsource = "#AreasLista Option:Selected";
            $.getJSON(url, { areaid: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#AplicacionesLista").empty;
                $.each(data, function (i, row) {
                    items += "<option value='" + row.Value + "'>" + row.Text + "</option>";
                });
                $("#AplicacionesLista").html(items);
            }).fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
            });
        });

        $("#AplicacionesLista").change(function () {
            var app = $("#AplicacionesLista Option:Selected").val();
            var url = '@Url.Content("~/")' + "DiagramaER/ActualizarBase";
            $.getJSON(url, { Filtro: "BD", Tipo: "BaseDatos", AplicacionID: app }, function (data) {
                var items = '';
                $("#BasesLista").empty;
                $.each(data, function (i, row) {
                    items += "<option value='" + row.Value + "'>" + row.Text + "</option>";
                });
                $("#BasesLista").html(items);
            }).fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
            });
        });

        $('#btnLimpiar').click(function () {
            myDiagram.div = null;
            limpiarfiltros();
        });

        $('#btnBuscar').click(function () {
            var idbd = $("#BasesLista Option:Selected").val();
            myDiagram.div = null;
            ActualizaDiagrama(idbd)
        });
    });
</script>
